In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
Solution 1:-

In [2]:
import pandas as pd

In [3]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Solution 2:-

In [4]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Solution 3:-

In [5]:
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Solution 4:-

In [ ]:
A DataFrame in pandas is a 2-dimensional labeled data structure with columns of potentially different types. It is like a spreadsheet or 
SQL table. It is different from a Series in that a Series is a one-dimensional labeled array capable of holding data of any type
(integer, string, float, python objects, etc.).

In [ ]:
Here's an example to illustrate the difference:

In [7]:
# create a Series
my_series = pd.Series([10, 20, 30, 40])
print(my_series)

# create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

0    10
1    20
2    30
3    40
dtype: int64
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Solutoin 5:-

In [ ]:
There are numerous functions available in Pandas to manipulate data in a DataFrame. Some common ones include:

1.head() - displays the first few rows of the DataFrame. This is useful when you want to quickly inspect the structure of the data.
2.tail() - displays the last few rows of the DataFrame.
3.info() - displays a summary of the DataFrame, including the number of non-null values and data types of each column.
4.describe() - provides summary statistics for numerical columns in the DataFrame, such as mean, standard deviation, minimum, and maximum values.
5.drop() - removes rows or columns from the DataFrame.
6.fillna() - replaces missing values in the DataFrame with a specified value.
7.groupby() - groups data in the DataFrame based on one or more columns, allowing you to perform calculations on each group.
8.merge() - combines two or more DataFrames based on a common column.
9.sort_values() - sorts the DataFrame by one or more columns.
10.pivot_table() - creates a summary table that aggregates data based on two or more columns.

For example, if you wanted to group a DataFrame by a particular column and calculate the mean value for each group, you could use the 
groupby() function. Here's an example:

In [10]:
data = {
    'name': ['Alice', 'Bob', 'Claire', 'David', 'Emily'],
    'age': [25, 30, 27, 32, 28],
    'gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

grouped = df.groupby('gender')['age'].mean()

print(grouped)

gender
Female    26.666667
Male      31.000000
Name: age, dtype: float64

In [ ]:
Solution 6:-

In [ ]:
Out of the three objects Series, DataFrame, and Panel, only the DataFrame is mutable in nature. That means the values of a DataFrame can 
be changed, added or deleted after its creation.

In [ ]:
Solution 7:-

In [ ]:
We can create a DataFrame using multiple Series by passing them as arguments to the pd.DataFrame() constructor. Here's an example:

In [11]:
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])

df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female